input,
select {
  width: 250px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

option {
  background-color: black;
}
