.dbContentOutput {
  width: 1000px;
  color: #fff;
}

Table {
  color: #fff;
  width: 100%;
}

.tableButtons {
  text-align: center;
}

input,
select {
  width: auto;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

option {
  background-color: black;
}
